/*
 * Author: Hiki
 * Last Modified: 03-03-2019 22:39:36
 */

body,
#output {
    background-color: #1e1a27;
}

.mmhover.oh-hashover .oh-l,
.mmhover2 .oh-l,
.mmhover3 .oh-l,
.oh-nohover .oh-l:hover,
.oh-hasbutton .active,
.oh-m:active {
    background: var(--mid);
}

#output {
    margin-top: 0 !important;
}

#browse-sidemenu .browse-facet.browse-facet-state .button.active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset, 0 2px 72px rgba(0, 0, 0, 0.1) inset, 0 -1px 1px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(180, 92, 219, 0.78);
}

#output>.browse-container.newbrowse .browse-left-bar .browse-left-bar-inner {
    background-color: #221a36;
}

#browse-sidemenu .browse-facet.browse-facet-state .button.state-open {
    background: #342554;
}

#browse-sidemenu .browse-facet.browse-facet-state .button {
    border: 1px solid #1e1a27;
}

#navbar-menu {
    background: #221a35;
}

#navbar-menu .navbar-menu-inner {
    background: #221a35;
}

#navbar-menu .navbar-menu-item.active {
    border-bottom: 4px solid #8628b0;
}

#overhead,
#oh-mainmenu-cloned {
    color: #1e1a27;
}

#overhead .oh-mmain,
#overhead .oh-keep {
    background: #342554;
}

#overhead td {
    background: #342554;
}

#overhead #search7 input[name="q"] {
    background: #1e1a27;
    border: 1px solid #342554;
}

#oh-menu-submit>a>span {
    background: #75418c;
}

body.with-apps #overhead #more7-main {
    background: #1e1a27;
}

body.with-apps #oh-mlast {
    background: #1e1a27;
}

body.with-apps .ohm-stickhelper {
    background: #1e1a27;
}

body.with-apps #oh-mainmenu.da-menu {
    border-bottom: 1px solid #342554;
}

#output>.browse-container.newbrowse .browse-left-bar {
    border-right: 3px solid #342554;
}

#deviantart-logo .mark .wikistick {
    fill: #9d05cc;
}

.oh-menu,
#overhead-collect #lub,
div.popup2.popup2-click-friends {
    background: #343138;
}

#oh-menu-deviant,
#oh-menu-split,
#oh-menu-friends,
#oh-menu-collect,
#oh-menu-cart,
#oh-menu-join,
#oh-loginbutton,
#overhead .oh-mc-split,
#oh-menu-greeting {
    border-bottom: 1px solid #3f3846;
}

#oh-menu-deviant {
    border-left: 1px solid #403846;
}

#oh-menu-upgrade>a {
    display: none;
}

#output>.browse-container.newbrowse .browse-left-bar {
    border-right: 1px solid #342554;
}

#deviantart-logo .mark .wikistick {
    fill: #8628b0 !important;
}

#browse-sidemenu ul li a.selected {
    background: #e23939;
}

#browse-sidemenu .noncollapseHeader {
    color: #d2d2d2;
    font-size: 100%;
}

#browse-sidemenu ul li a {
    color: #5981f5;
}

.browse-search-container {
    background: #1e1a27;
    border: 1px solid #1e1a27;
}

.oh-menu-list {
    background: #342554;
}

span.icon {
    color: #f05984;
}

/* +++ MERGE +++ */
:root {
    /* Highlights */
    --ohl: #8628b0;
    --btn: #75418c;
    --active: #e23939;
    --active2: #f05984;

    /* Backgrounds */
    --light: #342554;
    --mid: #221a35;
    --dark: #1e1a27;
}

#deviant {
    background: var(--dark);
}

.catbar,
.bubbletop {
    background: var(--mid) url(/minish/gruzecontrol/bubbletop-gruze.gif) repeat-x bottom left;
}

.u.regular.username {
    color: white;
}

body.gruze .bubbleview,
.bubbleview,
body.gruze .catbar {
    background: transparent;
}

body:not(.mobile-devpage-uplift) h1 a,
body:not(.mobile-devpage-uplift) .dcats a.h,
a.u:not(.banned),
body.gruze a.u:not(.banned),
.mcb-title a:not(.external),
.mcb-line a:not(.external),
.mcb-body a:not(.external),
.mcb-modhtml a:not(.external),
.popup2-mcbox-comment a:not(.external):not(.thumb),
.text a:not(.external) {
    color: #b361d8 !important;
}

ul.iconset-gruser li.tab {
    border: 1px solid var(--btn);
    background: var(--light);
    ;
}

body.gruze a:not(:first-of-type) {
    color: #e9e9e9;
}

body.gruze.catbar {
    border-top: #8628b0;
}

li.tab:nth-child(1)>a:nth-child(1) {
    background: var(--light);
}

body.gruze .catbar {
    border-top-color: #75418c;
}

#deviant .blues-bar,
#group .blues-bar {
    background: #221a35;
}

.blues-bar {
    border-top: 1px solid #75418c;
}

.blues-bar * {
    color: white;
}

.blues-bar .blues-bar-ctrl {
    border-bottom: 1px solid #75418c;
}

i.gr2,
i.gr3,
.gr-body,
.gr-top {
    border-color: #1e1a27 !important;
    background: #29183c !important;
}

i.gr3 i,
.gr-top .gr {
    background: #461f6f;
}

.gr-free .gr-top .gr {
    border-color: transparent;
}

/* +++ MERGE +++ */

.dev-page-view .dev-view-deviation {
    background: var(--dark);
}

.with-apps .dev-page-container.minibrowse-container.bubbleview {
    background: var(--mid);
}

.dev-page-view .dev-right-col-bg {
    background: var(--light);
}

.dev-page-view #fave-btn-wrap #gmi-ResourceViewFavouriteButton {
    color: #e6e6e6 !important;
    background: var(--btn);
    border: 1px solid var(--ohl);
}

.cc-time,
.cc-time a,
.cc-userdetails {
    color: #d0dcd1;
}

.ccomment .ch-ctrl .ch-ctrl {
    border: 1px solid var(--light);
    background: var(--light);
}

.dev-page-view .dev-view-deviation {
    background: var(--dark);
}

.with-apps .dev-page-container.minibrowse-container.bubbleview {
    background: var(--mid);
}

.dev-page-view .dev-right-col-bg {
    background: var(--light);
}

.dev-page-view #fave-btn-wrap #gmi-ResourceViewFavouriteButton {
    color: #e6e6e6 !important;
    background: var(--btn);
    border: 1px solid var(--ohl);
}

body {
    color: #f0f0f0;
}

:link,
:visited {
    color: #8b95ce;
}

.dev-page-container.bubbleview,
body.fullview .dev-page-container.bubbleview,
body.gruze .dev-page-container.bubbleview,
body.deviant .dev-page-container.bubbleview {
    background-color: var(--mid);
}

span.icon,
a#friendslink,
a#collectlink {
    color: var(--active2) !important;
}

/* Some have strange box shadows set. Removing them here */
.dev-page-view .dev-page-button,
.dev-page-view .dev-page-button.disabled:hover,
.dev-page-view #fave-btn-wrap #gmi-ResourceViewFavouriteButton,
.dev-page-view .dev-meta-producttabs #print-button,
.dev-page-view .dev-meta-producttabs #buy-tabs #fave-btn-wrap #gmi-ResourceViewFavouriteButton,
.dev-page-view #fave-btn-wrap #favesnav li a.favesnav-downlink,
.dev-page-view #fave-btn-wrap #favesnav li a.favesnav-downlink:hover,
.dev-page-view #fave-btn-wrap #favesnav li:hover a.favesnav-downlink {
    box-shadow: none;
}

.dev-page-view #fave-btn-wrap #favesnav li a.favesnav-downlink,
.dev-page-view #fave-btn-wrap #favesnav li a.favesnav-downlink:hover,
.dev-page-view #fave-btn-wrap #favesnav li:hover a.favesnav-downlink {
    background: #613475;
}

#favesnav *,
#favesnav li ul,
#fave-btn-wrap #favesnav li:hover ul,
#fave-btn-wrap #favesnav li ul.stick {
    background: var(--mid);
    /* Did not overwrite without, so forcing it. */
    color: white !important;
}

#fave-btn-wrap #favesnav input.collection_name {
    box-shadow: none;
    border: 1px solid var(--ohl);
    background: var(--dark);
}

.dev-page-view .dev-page-button,
.dev-page-view .dev-page-button.disabled:hover,
.dev-page-view #fave-btn-wrap #gmi-ResourceViewFavouriteButton,
.dev-page-view .dev-meta-producttabs #print-button,
.dev-page-view .dev-meta-producttabs #buy-tabs {
    border: 1px solid var(--ohl);
    background: var(--btn);
}

#gmi-ResourceViewShare {
    display: none;
}

.cctextarea {
    border: none;
    background: var(--light);
    box-shadow: none;
}

.cctextarea textarea,
.previewbox {
    background: var(--light);
}

textarea,
input[type="text"],
input[type="password"],
select {
    background: var(--btn);
}

body .cctextarea {
    border: none;
}

body .cctextarea i.l,
body .talk-post-reply i.l {
    background: url(https://cdn.jsdelivr.net/gh/imh1kiko/CWCSSR@DeviantArt/img/icon1.png) no-repeat;
}

.dev-page-view .dev-page-button,
.dev-page-view .dev-page-button.disabled:hover,
.dev-page-view #fave-btn-wrap #gmi-ResourceViewFavouriteButton,
.dev-page-view .dev-meta-producttabs #print-button,
.dev-page-view .dev-meta-producttabs #buy-tabs {
    text-shadow: none;
    color: #a9ffad;
    font-weight: bolder;
}

.dev-page-view .dev-page-button span.text {
    color: #e4e4e4;
}

.dev-page-view .dev-right-bar-title {
    color: #fff;
}

.group_featured_list .not-in-group {
    color: inherit;
}

.dev-page-view .dev-right-bar-content.dev-metainfo-content dt {
    color: inherit;
}

.smbutton-textonly,
.smbutton-textonly>span,
.smbutton-textonly:hover,
.smbutton-textonly:active,
.smbutton-textonly:active>span {
    color: #97d1fc;
}

div.deviation-mlt-preview div.more-from-collection-preview-row h4 a {
    color: #f37289;
}

body .dev-page-view .dev-title-container a.dev-page-watch-button {
    color: #a5f6a7;
    background: var(--btn);
    border: 1px solid var(--ohl);
    text-shadow: none;
    box-shadow: none;
}

.by {
    color: white;
}

body:not(.mobile-devpage-uplift) .dev-page-view .dev-title-container h1 small a.username,
body:not(.mobile-devpage-uplift) .dev-about-breadcrumb a {
    color: #ff718a !important;
}

body .cctextarea {
    box-shadow: none;
}

.pagination {
    color: #e9e9e9;
}

.pagination ul.pages li a {
    box-shadow: none;
    color: #fff;
    border: 1px solid var(--ohl);
    background: #342554;
}

.pagination ul.pages li.dotdotdot a {
    border: 1px solid var(--ohl);
    background: var(--light);
}

.pagination ul.pages li.current a,
.pagination ul.pages li.current a:hover {
    background: transparent;
    color: #fff;
    border: 1px solid var(--active2);
}

.pagination ul.pages li.prev a.disabled,
.pagination ul.pages li.prev a.disabled:hover {
    background: var(--light);
}

.pagination ul.pages li.prev a.disabled,
.pagination ul.pages li.prev a.disabled:hover,
.pagination ul.pages li.next a.disabled,
.pagination ul.pages li.next a.disabled:hover {
    color: #fff;
    border: 1px solid var(--ohl);
}

.pagination ul.pages li.prev a:hover,
.pagination ul.pages li.next a:hover {
    border: 1px solid var(--ohl);
    color: #fff;
}

.pagination ul.pages li.next a {
    background: var(--light);
}

/* +++ Upload Page +++ */

.with-apps.multisubmit #output>.submit-tabbar,
.with-apps.multisubmit #output>.submit-tabbar>.submit-tabbar-overlay {
    top: 0;
}

#output>.submit-tabbar {
    background: var(--mid);
}

html body {
    background: none !important;
}

body.no-overhead {
    background: none;
}

html,
body div#output,
body div#output #dv7 {
    background-color: none;
}

body.no-overhead #overhead {
    background-color: #342554;
}

.ile-step-zero-notice {
    color: white;
}

#dv7 {
    background: none;
}

textarea,
input[type="text"],
input[type="password"],
select {
    background: none;
}

#ile-container,
#autocomplete-placebo,
#output #ile-contents .bubbleview {
    background-color: #221a35;
}

#ile-contents input.text,
#ile-contents textarea.text {
    background: none;
}

#ile-contents .ile-description .ile-description-writer {
    border: 1px solid #342554;
    box-shadow: 0 0 3px 2px #342554 inset;
    background: #1e1a27;
}

#ile-contents .ile-title input.ile-title-input.default-text,
#ile-contents .ile-description textarea.ile-description-input.default-text,
#ile-contents .ile-keywords input.ile-keywords-input.default-text.text.small {
    background: #75418c57;
}

#ile-contents input.ile-title-input {
    border: 1px solid #342554;
    box-shadow: 0 0 3px 2px #342554 inset;
    border-radius: 15px 15px 0 0;
    padding-left: 20px;
}

.stash-upload-box {
    box-shadow: none;
    background: #1e1a27;
    border: 1px solid #75418c;
    color: #fff;
}

/* +++ Profile Page Continuation +++ */


#deviant .blues-bar,
#group .blues-bar {
    background: #342554;
}

body.gruze .bubbleview,
.bubbleview,
body.gruze .catbar {
    background: var(--mid);
}

i.gr3 i,
.gr-top .gr {
    background: #3e2365;
}

i.gr2,
i.gr3,
.gr-body,
.gr-top {
    border-color: var(--btn) !important;
}

.bubbleview .catbar {
    border-top: none;
}

i.gr3 i,
.gr-top .gr {
    border-left-color: var(--ohl);
    border-right-color: var(--ohl);
}

.gr-top {
    border: none;
}

i.gr2,
i.gr3,
.gr-body,
.gr-top {
    border-color: transparent;
}

textarea#commentbody {
    background: var(--dark);
    color: white;
}

div.h,
div.hh,
* html div.ieh {
    margin-top: 5px;
}

body.gruze .catbar,
body.gruze .catbar h1 {
    color: #fcfcfc;
}

body.gruze .bubbleview h1,
body.gruze .bubbleview h2,
body.gruze .bubbleview h3,
body.gruze .bubbleview h4,
body.gruze .bubbleview h1 a,
body.gruze .bubbleview h2 a,
body.gruze .bubbleview h3 a,
body.gruze .bubbleview h4 a {
    color: #c6c6c6;
}

body.gruze a {
    color: #b7b7b7;
}

body.gruze .bubbleview {
    color: #dedede;
}

#aboutme-artist-info span {
    color: #b4b4b4;
}

#aboutme .f {
    color: #d7d7d7;
}

#dv7 ul.list li.a,
body.gruze ul.list li.a,
body.gruze div.gr-box div.gr-body table.grf tr:nth-child(2n) {
    background: var(--dark);
}

.journal-green .gr-box {
    border: 1px solid var(--light);
    background: var(--light);
}

.journal-green .gr-top .gr h2 a {
    color: #d7d7d7;
}

.journal-green .gr-box .gr1 {
    background: transparent;
}

.journal-green .gr-box .gr2 {
    background: transparent;
}

.status-form .status-entry {
    background: var(--light);
    border: 1px solid var(--ohl);
}

.status-form textarea.writeranywhere {
    text-align: center;
    border-radius: 5px;
}

.feed-action .feed-action-content .tt-a .tt-w,
.feed-action .feed-action-content .tt-a a.thumb img,
.feed-action .feed-action-content .tt-a a.thumb.ismature {
    background: var(--mid);
}

.feed-action.feed-action-type-deviations .feed-action-content,
.feed-action.feed-action-type-groupdeviations .feed-action-content,
.feed-action.feed-action-type-journals .feed-action-content {
    background: var(--dark);
}

.feed-action .feed-action-details {
    background: var(--light);
}

.feed-action {
    box-shadow: none;
    background: var(--mid);
    border: 1px solid var(--light);
}

.feed-action.feed-action-type-deviations .feed-action-deviation-details,
.feed-action.feed-action-type-groupdeviations .feed-action-deviation-details,
.feed-action.feed-action-type-journals .feed-action-deviation-details {
    background: var(--light);
}

.feed-action.feed-action-type-deviations .feed-action-deviation-details .title,
.feed-action.feed-action-type-groupdeviations .feed-action-deviation-details .title,
.feed-action.feed-action-type-journals .feed-action-deviation-details .title {
    color: #d5d5d5;
}

.feed-action.feed-action-type-deviations .feed-action-comments,
.feed-action.feed-action-type-groupdeviations .feed-action-comments,
.feed-action.feed-action-type-journals .feed-action-comments {
    background: var(--mid);
}

.feed-action .feed-action-comments .ccomment-form .cctextarea {
    background: var(--light);
    border: 1px solid var(--dark);
}

.feed-action .feed-action-deviation-buttons>div.button span.icon {
    background: var(--mid);
}

.feed-action .feed-action-deviation-buttons>div.button {
    background: none;
    border: 1px solid var(--active2);
}

.feed-action.feed-action-type-deviations span.shadow,
.feed-action.feed-action-type-groupdeviations span.shadow {
    background: var(--mid);
}

.gr-body .gr {
    border-top-color: transparent;
}

.gr-body .gr {
    border-top: none;
}

i.gr2,
i.gr3,
.gr-body,
.gr-top {
    background: #221a35 !important;
    border-color: var(--light) !important;
}

i.gr1 {
    background: var(--ohl);
}

ul.iconset-gruser li.active.profile,
ul.iconset-gruser li.active.profile:hover,
#group ul.iconset-gruser li.active,
#group ul.iconset-gruser li.active:hover {
    box-shadow: none;
    border-bottom: 1px solid var(--active);
}

.status-form textarea.writeranywhere {
    color: white;
}